binder_call(system_app, system_suspend)
binder_call(system_app, wificond)
binder_call(system_app, storaged)

dontaudit system_app {
  tracingproxy_service
}:service_manager find;
